.Footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 1em;
  background-color: rgb(97, 143, 29);
  color: #fff;
  font-size: 1rem;
  position: relative; 
  bottom: 0;
  left: 0;
}
  